{% extends 'connected/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-5">

    <div class="jumbotron">
        <h1 class="display-4">About Our Application</h1>
        <p class="lead">This is a unique application designed to help you manage your daily tasks efficiently.</p>
        <hr class="my-4">
        <p>Learn more about our mission, features, and the team behind the development.</p>
    </div>

    <h2 class="mb-3">Meet Our Team</h2>
    <div class="card-deck">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Aidan McCaughey</h5>
                <p class="card-text">Project Backend Manager - Created and maintained the projects views, models and forms, which were purposeful and efficient.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mahid Khan</h5>
                <p class="card-text">Project Frontend Manager - Utilised CSS and HTML to elegantly display and present our UI, making use of templates to maintain UX.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tom Huth</h5>
                <p class="card-text">GitHub & Git Manager - responsible for repository managing and initial setup.</p>
            </div>
        </div>

        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ching Laam Chan</h5>
                <p class="card-text">Flexible Team Member - Helped with code refining</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Yang Jie</h5>
                <p class="card-text">Team Member</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Yousef Alayoubi</h5>
                <p class="card-text">Population Script Manager</p>
            </div>

        </div>
        
    </div>
    <div><h2 class="mb-3"> </h2> </div>
</div>
{% endblock %}
