<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Connected - Welcome{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'connected:home' %}">
        <img src="{% static 'images/connected.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Connected
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'connected:hub' %}">Hub</a>
            <a class="nav-item nav-link" href="{% url 'connected:about' %}">About</a>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'connected:profile' %}">Profile</a>
                <a class="nav-link" href="{% url 'connected:friends_list' %}">Friends</a>
                <a class="nav-item nav-link" href="{% url 'connected:logout' %}">Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'connected:login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'connected:register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 Connected. All rights reserved.</p>
        
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>