{% extends 'connected/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Connected says...</h1>
    <div>
        welcome to the connected communication app! <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>

    <div>
        <h2>Most Liked Pages</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>
                    <a href="{% url 'connected:show_category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <div>
        <h2>Most Viewed Pages</h2>
        {% if top_pages %}
            <ul>
                {% for page in top_pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <div><strong>There are no pages present.</strong></div>
        {% endif %}
    </div>

    <div>

    </div>
{% endblock %}
