{% extends 'connected/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Welcome to Connected</h1>
    <div class="logo-container">
        <img src="{% static 'images/connected.png' %}" alt="Connected Logo">
    </div>
    <div>
        {% if user.is_authenticated %} hi {{ user.username }}!
        {% endif %} <br/>
        A portal for connecting people <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>

    

    <div>
        <h2>Suggested People</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>
                    <a href="{% url 'connected:show_category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <div>
        
    </div>
{% endblock %}
